extends layout

block content
    form#login(method='POST', action='/login')
        label Email
            input(type='text', name='email')
        br
        label Password
            input(type='password', name='password')
        br
        button(type='submit') Submit
