extends layout

block content
    form#signup(method='POST', action='/users/create')
        label(for='email') Email
        input#email(type='text', name='email')
        br
        label(for='password') Password
        input#password(type='text', name='password')
        br
        label(for='confirm') Confirm Password
        input#password-confirmation(type='text', name='confirm')
        br
        button.submit(type='submit') Signup